* {
  font-family: "Barlow Condensed", sans-serif;
}
* {
  transition: all 0.2s ease;
}
*::-webkit-scrollbar {
  width: 0.5vw;
}
*::-webkit-scrollbar-thumb {
  background-color: #707070;
  border-radius: 20px;
}
*::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0);
}
a {
  text-decoration: none;
  color: #d9d9d9;
}
nav {
  position: fixed;
  top: 0;
  height: 10vh;
  z-index: 10;
}
.bg-grey {
  background-color: hsla(0, 0%, 85%, 0.5);
  backdrop-filter: blur(1px);
}
.bg-grey-nav {
  background-color: #d9d9d9;
}
.jsb {
  justify-content: space-between;
}
.jcc {
  justify-content: center;
}
.jcs {
  justify-content: start;
}
.br-5 {
  border-radius: 5px;
}
.jsc {
  justify-self: center;
}
.aic {
  align-items: center;
}
.lr {
  display: inline-flex;
  flex-direction: row;
}
.ud {
  display: inline-flex;
  flex-direction: column;
}
.menu-icon {
  width: 5rem;
  height: 2rem;
  object-fit: contain;
}
.nav-logo {
  width: 40vw;
  height: 10vh;
  object-fit: cover;
  position: absolute;
  left: 30%;
  top: 0;
}
.btn-custom {
  width: 10vw;
}
.white {
  background-color: #d9d9d9;
  height: fit-content;
}
.blue {
  background-color: #1c24f5;
  top: 0;
  height: 100vh;
}
.bg-blue-photo {
  background: url("./images/bluephoto.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.black-span {
  width: 6vw;
  background-color: #333;
  height: 3px;
}
.menu {
  height: 4.5rem;
  padding: 1rem;
  border-radius: 5px;
  margin-left: 5px;
}
.font-xlarge {
  font-size: 10vh;
}
.pb-s-10 {
  padding-block-start: 10rem;
}
.h-80vh {
  height: 80vh;
}
.pb-e-5 {
  padding-block-end: 5rem;
}
.c-grey {
  color: #333;
}
.g-2 {
  gap: 2rem;
}
.hero-btn {
  width: 15vw;
  background-color: #1c24f5;
  color: #d9d9d9;
  transition: all 0.5s ease;
  border: none;
}
.hero-btn:hover {
  background-color: #4e54ff;
  transform: scale(1.01);
}
.font-large {
  font-size: 3vh;
}
.line-dark {
  height: 1.5px;
  background-color: #333;
}
.h-fit {
  height: fit-content;
}
.h-100vh {
  height: 100vh;
}
.g-1 {
  gap: 1rem;
}
.p-fixed {
  position: fixed;
}
.left-50 {
  left: 50%;
}
.c-blue {
  color: #1c24f5;
}
.bg-blue {
  background-color: #1c24f5;
}
.txt-uc {
  text-transform: uppercase;
}
.f-helvetica {
  font-family: "Aboreto", cursive;
  letter-spacing: 2px;
  font-weight: bold;
}
.f-abo {
  font-family: "Aboreto", cursive;
}
.img-sm {
  width: 3vw;
  height: 10vh;
  object-fit: contain;
}
.img-md {
  width: 10vw;
  height: 10vw;
  object-fit: contain;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.square {
  background-color: rgba(51, 51, 51, 0.411);
  border-radius: 5px;
  box-shadow: 0px 0px 10px #333;
  text-align: center;
  color: #000;
}
.w-fit {
  width: fit-content;
}
.pb-5 {
  padding-block: 5rem;
}
.c-fff {
  color: #fff;
}
.c-white {
  color: white;
}
.span-orange {
  height: 2px;
  background-color: #ff5100;
}
.img-display {
  height: 70vh;
  object-fit: cover;
}
.text-hero {
  position: absolute;
  background-color: rgba(51, 51, 51, 0.5);
  backdrop-filter: blur(2px);
  padding: 0.7rem;
  top: 5%;
  left: 60%;
  border-radius: 5px;
  width: 13vw;
  text-align: center;
  color: #d9d9d9;
}
.shadow-white {
  box-shadow: 0px 0px 5px #ff5100;
}
.desc-text-hero {
  position: absolute;
  display: inline-flex;
  flex-direction: column;
  gap: 1rem;
  background-color: rgba(51, 51, 51, 0.5);
  backdrop-filter: blur(4px);
  padding: 0.7rem;
  top: 75%;
  left: 0;
  border-radius: 5px;
  width: 15vw;
  text-align: center;
  color: #d9d9d9;
}
.header a:hover {
  color: #fff;
  text-decoration: underline;
}
.pb-s-7 {
  padding-block-start: 7rem;
}
.display-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.img-store {
  width: 100%;
  height: 62vh;
  object-fit: cover;
}
.store-btn {
  background-color: #fff;
  color: #000;
  padding: 0.5rem;
  width: 75%;
  border-radius: 3px;
  border: none;
  text-transform: uppercase;
  box-shadow: 0px 0px 10px #000;
  transition: all 0.2s ease-in;
}
.store-btn:hover {
  background-color: #333;
  text-shadow: 0px 0px 10px #fff;
  color: #fff;
}
.h-10 {
  height: 10vh;
}
.top-link {
  transition: all 0.3s;
}
.top-link:hover {
  transform: scale(1.02);
}
.cart-head a {
  color: #000;
}
.cart-head a:hover {
  color: #333;
}

.bg-white {
  background-color: #fff;
  color: #333;
}
.h-50vh {
  height: 40vh;
}
.bg-blue-cart {
  background-color: #1c24f5;
  color: #fff;
  border-radius: 3px;
  height: 75vh;
}
.w-custom-table {
  width: 65vw;
}
.cart-thead {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.473);
  font-weight: bold;
  backdrop-filter: blur(4px);
  top: 0;
  position: sticky;
}
.cart-thead th {
  padding: 1rem;
}
.tbody tr {
  border-bottom: 1px solid #707070;
}
.img-cart {
  width: 6vw;
  height: 9vw;
  object-fit: cover;
}
.w-custom-30 {
  width: 35vw;
}
.jce {
  justify-content: end;
}
.color-blue {
  color: #0088ff;
  cursor: pointer;
}
.g-5 {
  gap: 5rem;
}
.side-nav {
  left: -50%;
  height: 100vh;
  color: #000;
  transition: all 0.5s ease;
}
.side-nav a {
  color: #000;
  text-align: center;
}
.side-nav a:hover {
  color: #333;
  background-color: #d9d9d9;
}
.l-1 {
  width: 2px;
  background-color: #000;
  width: 5vw;
  transform: rotate(45deg);
}
.l-1 {
  width: 2px;
  background-color: #000;
  width: 5vw;
  transform: rotate(-45deg);
}
.back-icon {
  width: 5vw;
  height: 4vh;
  object-fit: contain;
}
.img-logo {
  width: 35vw;
  object-fit: cover;
  height: 10vh;
}
.custom-dark {
  background-color: #d9d9d9;
  color: #333;
}
.side-btn {
  background-color: #d9d9d9;
  padding: 3rem;
  color: #333;
  border: none;
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.side-btn:hover {
  background-color: #bdbdbd;
  color: #333;
}
.bg-custom-blue {
  background-color: #0088ff;
}
.panel {
  display: none;
  flex-direction: column;
  color: #fff;
  padding: 2rem;
  background-color: #0088ff;
  border-radius: 3px;
}
.h-custom-fit {
  height: 80vh;
}
.btn-logout {
  background-color: #b14040;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.5rem;
}

.logout-nav {
  background-color: #332614ad;
  width: 23.5%;
  position: absolute;
  z-index: 5;
  top: 90%;
  display: none;
  flex-direction: row;
  border-radius: 5px;
  padding: 1rem;
  right: 0.8vw;
}
.logout {
  padding-block: 4rem;
}
.btn-logout:hover {
  background-color: #d85f5f;
  transform: scale(1.05);
}
.active-btn {
  background-color: #333;
  color: #fff;
  font-size: larger;
}
.add-products {
  position: absolute;
  display: none;
  flex-direction: column;
  height: inherit;
  backdrop-filter: blur(2px);
}
.p-absolute {
  position: absolute;
  left: 15%;
}
.num {
  font-family: monospace;
  padding-block: 0.5rem;
  font-size: 5vh;
}
td {
  padding: 1rem;
  text-align: center;
}
.h-cart{
  height: 70vh;
  overflow-y: scroll;
}
th {
  text-align: center;
}
.img-lg {
  width: 15vw;
  height: 20vh;
  object-fit: contain;
}
.line-straight {
  height: 70%;
  width: 2px;
  background-color: #707070;
}
.img-cart {
  width: 6vw;
  height: 9vw;
  object-fit: cover;
}
.cat_id {
  display: none;
}
.users-tbl {
  color: #333;
  padding-inline: 3rem;
  /* height: 60vh; */
  overflow-y: scroll;
}
.table-container {
  height: 75vh;
  overflow-y: scroll;
}
